In [1]:
import pandas as pd
import numpy as np

In [22]:
pts = !ls ../custom_aperture/masks
spts = pd.read_csv("../flare_tables/spts.csv")
spts.TIC.sort_values(ascending=True)

61        926898
83       1539914
96       2470992
90       5630425
2        7150628
67       7975441
65      11654435
106     23997017
39      29780677
11      29928567
99      30101427
13      32434779
117     34014829
20      35858101
5       38314290
38      44892011
66      44984200
54      53603145
77      55099399
88      61476051
15      70555405
105     72254026
74      73118477
118     77041175
16      77111651
47      77842052
48      77959225
92      98874143
78     107012050
43     117733072
         ...
80     369863567
70     380532990
110    381983159
112    387220832
101    388857263
49     388903843
113    389051009
85     395130640
36     396862832
94     398985964
34     401945077
115    401984769
29     406479664
57     410898932
73     415678624
98     415839928
31     416744592
18     420001446
71     423319208
103    441000085
26     441519239
40     448894007
76     449671564
82     454227159
84     454291779
109    464378628
68     471012394
86     471012738
95     471012740
102    471012770
Name: TIC, Length: 120, dtype: int64

In [24]:
df = pd.DataFrame()

for p in pts:
    tic, sector = p.split("_")[0], p.split("_")[1][:-4]
    d = pd.read_csv(f"../custom_aperture/masks/{p}", names=["time","flag"])

    df = df.append(pd.Series({"time_years":d[d.flag==0].shape[0]/30/24/365.25,
                    "TIC":tic,
                    "sector":sector,
                    "st":spts[spts.TIC==int(tic)].spt.iloc[0]}),ignore_index=True)
df

           TIC sector  st  time_years
0    107012050     10  M9    0.058423
1    107012050      9  M9    0.056685
2     11654435      8  M6    0.049065
3    117733072      5  M6    0.064442
4    117733581      5  M7    0.064442
5    121024099      4  M8    0.057989
6    121204333      7  M6    0.062218
7    125835702     11  M6    0.052483
8    130414729      6  M6    0.055502
9    130414729      8  M6    0.049065
10   140478472      3  M8    0.051152
11   141306513      4  M7    0.057989
12   142052876     10  M6    0.058423
13   142052876     11  M6    0.052483
14   142052876     12  M6    0.072260
15   142052876     13  M6    0.074466
16   142052876      1  M6    0.068842
17   142052876      2  M6    0.069652
18   142052876      3  M6    0.051152
19   142052876      4  M6    0.057989
20   142052876      5  M6    0.064442
21   142052876      6  M6    0.055502
22   142052876      7  M6    0.062218
23   142052876      8  M6    0.049065
24   142052876      9  M6    0.056685
25   142944290      4  M7    0.057989
26   143029977      4  M9    0.057989
27   144776281      6  M6    0.055502
28     1539914      9  M6    0.056685
29   156735150      6  M6    0.055502
..         ...    ...  ..         ...
161  449671564     12  M6    0.072260
162   44984200     10  M6    0.058423
163   44984200      8  M6    0.049065
164   44984200      9  M6    0.056685
165  454227159     11  M7    0.052483
166  454227159     12  M7    0.072260
167  454291779     11  M7    0.052483
168  454291779     12  M7    0.072260
169  464378628     13  M8    0.074466
170  471012394      8  M6    0.049065
171  471012740     10  M6    0.058423
172  471012770     11  M7    0.052483
173   53603145      6  L0    0.055502
174   53603145      7  L0    0.062218
175   55099399      9  M6    0.056685
176    5630425     10  M7    0.058423
177   61476051     10  M6    0.058423
178   70555405      3  M7    0.051152
179    7150628      2  M6    0.069652
180   72254026     12  M8    0.072260
181   73118477      9  M6    0.056685
182   77041175      2  M8    0.069652
183   77111651      3  M6    0.051152
184   77842052      5  M6    0.064442
185   77959225      5  M6    0.064442
186   77959225      6  M6    0.055502
187    7975441      8  M9    0.049065
188     926898      7  L2    0.062218
189     926898      8  L2    0.049065
190   98874143     10  M6    0.058423

[191 rows x 4 columns]

In [26]:
df.to_csv("../flare_tables/obs_times.csv",index=False)